# Terraform sensitive files and directories
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/*.tfplan

# Editor and log files
.vscode/
*.log

# Python virtual environment
.venv/

#app file
app/backend/.python_packages
